<div class="container read">
    <div class="avatarBox">
        <img [src]="userImage" id="avatarImg">
    </div>
    <p class="name">{{ (selectedUser$ | async)?.name }}</p>

    <section class="container messages">
        <article class="articleMsg" *ngFor="let msg of message" 
        [ngClass]="{'msgLoggedUser': msg.id_send === userId, 'msgOtherUser': msg.id_send !== userId}">
            <h5 class="title">{{ msg.subject }}</h5>
            <p>{{ msg.text }}</p>
            <p>{{ msg.created_at }}</p>
            
        </article>
    </section>
</div>

