.read{
    /* position: relative;
    top: 0px;
    left: 14%;
    width: 66%; */
    position: absolute;
    top: 74px;
    left: 30%;
    width: 70%;
}
.avatarBox{
    position: absolute;
    top:0px;
    left:40px;
    width: 60px;
    height: 60px;
    border: 1px solid grey;
    overflow: hidden;
    border-radius: 50%;
    margin-right:0px;
    #avatarImg{
        width: 100%;
        height: 100%;
    }
}
.nameMsg{
    margin-top: 10px;
    .name{
        font-size: 1.7rem;
        font-weight: 500;
        margin: 0px 20px 0px 100px;
        width: auto;
        float:left;
    }
    #msgAvatar{
        margin-right: 10px;
        height: auto;
    }
}
.newMsg{
    position: absolute;
    top:70px;
    left: 114px;
    font-size: 1.2rem;
    font-weight: 600;
    width: 150px;
    height: 36px;
    padding-top: 2px;
    border-radius: 4px;
    text-align: center;
    color: var(--primaryLima);
    background-color: var(--maroon);
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.newMsg:hover{
    background-color: black;
    outline: 1px solid var(--third);
    color: var(--third);
}

.messages{
    position: absolute;
    top:140px;
    left:0px;
    .articleMsg{
        padding: 0px 8px;
        border-radius: 6px;
    }
}
.msgLoggedUser{
    background: var(--green);
    color: var(--secondaryWhite);
    width: 80%;
    margin-right: 20%;
}
.msgOtherUser{
    background: var(--secondary);
    color: var(--secondaryWhite);
    width: 80%;
    margin-left: 20%;
}