<div class="container read">
    <div>
        <div class="avatarBox">
            <img [src]="userImage" id="avatarImg">
        </div>
        <div class="nameMsg">
            <h4 class="name">{{ (selectedUser$ | async)?.name }}</h4>
            <p id="msgAvatar">{{ (selectedUser$ | async)?.message }}</p>
        </div>
    </div>
    <div class="newMsg" routerLink="msg/write">New Message</div>

    <section class="container messages">
        <article class="articleMsg" *ngFor="let msg of message" 
        [ngClass]="{'msgLoggedUser': msg.id_send === userId, 'msgOtherUser': msg.id_send !== userId}">
            <h5 class="title">{{ msg.subject }}</h5>
            <p>{{ msg.text }}</p>
            <p>{{ msg.created_at }}</p>
            
        </article>
    </section>
</div>

