.supbar{
    background-color: var(--secondary);
    a{
        color: white;
        span{
            text-decoration: none;
            #point{
                background-color:var(--warn);
                width:8px;
                height:8px;
                float:right;
                border-radius: 50px;
            }
        }
    }
    a:hover{
        color: var(--primary)
    }
}
#logout{
    cursor:pointer;
    color: var(--primary);
    
}
.msg{
    cursor: pointer;
    a{
        text-decoration: none;
    }
}
.newNames{
    position: absolute;
    top:60px;
    left: 200px;
    display:none;
    background-color: var(--secondary);
    color: var(--primary);
    width: 260px;
    max-width: auto;
    height: auto;
    border-radius: 3px;
    z-index: 2;
    border: 1px solid var(--primary);
    ul{
        margin:0px;
        padding:6px;
        li{
            list-style: none;
            cursor: pointer;
            display: inline;
        }
        li:hover{
            color: var(--primaryLight);
        }
        span{
            font-size: .8rem;
            color: white;
        }
    }
}
.menu{
    background-color: var(--secondary);
    padding-left: 10px;
    .menuChild{
        border-bottom: 1px solid var(--primary);
        margin-bottom: 20px;
        margin-right: 10px;
    }
    h5{
        color:white;
    }
}
.menuButton{
    color:var(--primary);
}
@media(max-width: 500px){
    .menu{
        width: 310px !important;
    }
    .newNames{
        top:140px;
        left: 135px;
        width:160px !important;
        #point{
            float:right;
        }
    }
    .msg{
        width:114px;
    }
}
@media(max-width: 1000px){
    .menu{
        width: 410px;
    }
    .newNames{
        top:140px;
        left: 135px;
        #point{
            float:right;
        }
    }
    .msg{
        width:115px;
    }
}