<nav class="navbar navbar-expand-lg supbar">
    <div class="container-fluid">
      <a class="navbar-brand"routerLink="/">Hello message</a>
      
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav" *ngIf="this.tokenSvc.isLogged()">
          <a class="nav-link active me-3" aria-current="page" routerLink="/user">User</a>
          <a class="nav-link active me-3 msg" aria-current="page">
            <span *ngIf="newNames.length > 0;" (click)="showHideMsgNames()">
              New Messages
            </span>
            <div *ngIf="newNames.length == 0"><a routerLink="msg/write">Message</a></div>
            </a>
          <a class="nav-link active logout" id="logout" aria-current="page" *ngIf="this.tokenSvc.isLogged()" (click)="logOut()">Logout</a>
          
        </div>
      </div>
    </div>
</nav>

<div class="newNames" #namesList>
  <ul *ngFor="let names of newNames">
    <li routerLink="msg/read" (click)="getMsgUser(names.id)">{{ names.name }}:</li>
    <span> {{ names.subject }}</span>
  </ul>
</div>
