<div class="container mt-4">
    <h2>The page of the messages!</h2>
    <p>Here you can send messages to other people and interact with them</p>

    <!-- Button trigger modal login-->
    <button type="button" class="btn btn-primary me-3" data-bs-toggle="modal" data-bs-target="#LoginModal"
    *ngIf="!this.tokenSvc.isLogged()">
        Login
    </button>

    <!-- Button trigger modal register-->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#RegisterModal"
    *ngIf="!this.tokenSvc.isLogged()">
        Register
    </button>

    <div class="animate__animated animate__fadeIn error-message h-5" *ngIf="errorShow == true">
      <div *ngFor="let error of errorArray | keyvalue">
        {{ error.value }}
      </div>
    </div>
    <div class="animate__animated animate__fadeIn error-message h-5" *ngIf="errorShow == true">
      <div *ngFor="let error of errorArray[0] | keyvalue">
        {{ error.value }}
      </div>
    </div>
    <div class="animate__animated animate__fadeIn success-message h-5" *ngIf="successShow == true">
        {{ successMessage }}
    </div>
</div>

    <!-- Modal Login-->
  <div class="modal fade" id="LoginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="ModalTitle">Login</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form class="w-75 mx-auto" [formGroup]="this.loginForm" (ngSubmit)="loginUser(loginForm.value)">
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" formControlName="email">
            </div>
            <div class="pass mb-3">
                <label for="password" class="form-label">Password</label>
                <input [type]="hide ? 'password' : 'text'" id="password" class="form-control" aria-describedby="password" formControlName="password">
                <div id="div-eye" (click)="hide = !hide"  [attr.aria-pressed]="hide">
                  <i class="{{hide ? 'fa-sharp fa-solid fa-eye-slash' : 'fa-solid fa-eye'}} icon-eye"></i>
                </div>
            </div>
            <button class="btn btn-primary w-75 ms-5 mt-3" type="submit">Login</button>
          </form>
        </div>
        <h4 data-bs-toggle="modal" data-bs-target="#RegisterModal">Create an account</h4>
      </div>
    </div>
  </div>


    
  
  <!-- Modal Register-->
  <div class="modal fade" id="RegisterModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="ModalTitle">Register</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #modalHide></button>
        </div>
        <div class="modal-body">
          <form class="w-75 mx-auto" [formGroup]="this.signupForm" (ngSubmit)="newUser(signupForm.value)">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" aria-describedby="emailHelp" formControlName="name">
                <div *ngIf="signupForm.get('name')?.touched && signupForm.get('name')?.errors?.['required']"
                  class="error">Required</div>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="eemail" aria-describedby="emailHelp" formControlName="email">
                <div *ngIf="signupForm.get('email')?.touched && signupForm.get('email')?.errors?.['email']" class="error">Invalid
                  email</div>
                <div *ngIf="signupForm.get('email')?.touched && signupForm.get('email')?.errors?.['required']" class="error">
                  Required</div>
            </div>
            <div class="pass mb-3">
                <label for="password" class="form-label">Password</label>
                <input [type]="hide ? 'password' : 'text'" id="password" id="password" class="form-control" aria-describedby="password" formControlName="password">
                <div id="div-eye" (click)="hide = !hide"  [attr.aria-pressed]="hide">
                  <i class="{{hide ? 'fa-sharp fa-solid fa-eye-slash' : 'fa-solid fa-eye'}} icon-eye"></i>
                </div>
                <div *ngIf="signupForm.get('password')?.touched && signupForm.get('password')?.errors?.['minlength']"
                  class="error">Password must have min 6 characters</div>
                <div *ngIf="signupForm.get('password')?.touched && signupForm.get('password')?.errors?.['required']"
                  class="error">Required</div>
            </div>
            <button class="btn btn-primary w-75 ms-5 mt-3" type="submit">Register</button>
          </form>
        </div>
        <div class="go-to-login">Already have an account?&nbsp;<span data-bs-toggle="modal" data-bs-target="#LoginModal">Login</span></div>
      </div>
    </div>
  </div>

  



