.error-message, .success-message{
    position: fixed;
    top:0vh;
    left: 43vw;
    width: 220px;
    height: auto;
    padding: 6px 10px ;
    font-weight: 600;
    border-radius: 4px;
    color: white;
    text-align: center;
    z-index: 1056;
    @media(max-width: 900px){
        left: 36vw;
    }
    @media(max-width: 500px){
        left: 30vw;
        width: 180px;
    }
}
.error-message{
    background: red;
}
.success-message{
    background: green;
}
.error {
    color: red;
    font-size: .9rem;
}
.pass{
    position: relative;
}
#div-eye{
    position: absolute;
    top:39px;
    right:8px;
    z-index: 1058;
}
.modal{
    h1{
        margin: 0px auto;
    }
    h4{
        font-size: 1rem;
        padding: 5px;
        margin: 0px auto 10px;
        cursor: pointer;
        color: var(--blood);
    }
    h4:hover{
        text-decoration: underline;
    }
    .go-to-login{
        font-size: 1rem;
        padding: 5px;
        margin: 0px auto 10px;
        span{
            cursor: pointer;
            color:var(--blood);
            font-weight: 500;
        }
        span:hover{
            text-decoration: underline;
        }
    }
}
.modal-header .btn-close{
    margin: 0px;
}
.botoEnter{
    background-color: var(--secondary);
    color: var(--primary);
}
.botoEnter:hover{
    color:white;
}