<div class="container mt-4">
    
    <div id="avatar_box"  data-toggle="tooltip" title="Add an image" data-animation="true">
        <input type="file" accept=".png, .jpg, .jpeg" class="file-input" name="img"  id="customFile"
         (change)="handleImage($event)">
        <label class="file-label" for="customFile">
            <img [src]="miniatura" id="avatar">
        </label>
       <!--  <ng-template #default>
            <label class="file-label" for="customFile">
                <img [src]="miniatura">
            </label>
        </ng-template> -->
    </div>

    <div *ngIf="hideForm == true">
        <div class="row">
            <h3 class="col-1">{{ userData?.name }}</h3>
            <button class="col-1 btn btn-secondary btn-sm boto" (click)="changeForm()">
                <i class="fa-solid fa-pen edit-icon"></i>
            </button>
        </div>
        <div class="row">
            <p class="col-1 message">{{ userData?.message }}</p>
            <button class="col-1 btn btn-secondary btn-sm boto" (click)="changeForm()">
                <i class="fa-solid fa-pen edit-icon"></i>
            </button>
        </div>
    </div>

    <form *ngIf="hideForm == false" (ngSubmit)="onUpdate(userData)">
        <input type="text" class="form-control w-25 my-2" [(ngModel)]="userData.name" name="name">
        <input type="text" class="form-control w-25" [(ngModel)]="userData.message" name="message">
        <button class="btn btn-outline-primary my-3 me-2 mx-auto" type="submit">Edit</button>
        <!-- <button class="btn btn-outline-secondary my-3 mx-auto" (click)="changeForm()">Close</button> -->
    </form>
    
    <p>Write some text:</p>
</div>