<div class="container">
    <div id="avatar_box"  data-toggle="tooltip" title="Add an image" data-animation="true">
        <input type="file" accept=".png, .jpg, .jpeg" class="file-input" name="img"  id="customFile"
        (change)="handleImage($event)">
        <label class="file-label" for="customFile">
            <img [src]="sendImg" id="avatar">
        </label>
    </div>

    <div class="animate__animated animate__fadeIn error_message h-5" *ngIf="errorShow == true">
        <div>{{ errorImg }}</div>
    </div>

    <div *ngIf="hideForm == true">
        <div class="row">
            <h4 class="col-1 placeh" data-placeholder="Your name">{{ userData?.name }}</h4>
            <button class="col-1 btn btn-secondary btn-sm boto" (click)="changeForm()">
                <i class="fa-solid fa-pen edit-icon"></i>
            </button>
        </div>
        <div class="row">
            <p class="col-1 message placeh" data-placeholder="Your description">{{ userData?.message }}</p>
        </div>
    </div>

    <form *ngIf="hideForm == false" (ngSubmit)="onUpdate(userData)">
        <input type="text" class="form-control w-25 my-2 inputName" [(ngModel)]="userData.name" name="name"
            id="name" minlength="3" required>
        <label for="name" class="errorText" *ngIf="errorC == true">{{ errorName }}</label>
        <input type="text" class="form-control w-25" [(ngModel)]="userData.message" name="message" id="msg">
        <label for="msg" class="errorText" *ngIf="errorB == true">{{ errorText }}</label><br>
        <button class="btn btn-outline-primary me-2 mx-auto" type="submit">Edit</button>
    </form>

    <div class="email">Your Email: 
        <p>{{ userData?.email }}</p>
    </div>

</div>