.list{
    position:absolute;
    left:0px;
    top:80px;
    width:26%;
    opacity: 1;
    .nameBody{
        border: 1px solid #00ffff;
        background:var(--secondary);
        color: white;
        cursor: pointer;
        padding:10px;
        .newMsg{
            border-bottom: 1px groove var(--primary);
            p{
                padding: 10px 0px 10px 5px;
                margin: 0px;
                font-size: 1.1rem;
                font-weight: 600;
            }
            p:hover{
                color: var(--primary);
            }
        }
        .nameRow{
            .listNames{
                    font-size: 1.1rem;
                    font-weight: 600;
            }
            .listNames:hover{
                color: var(--primary);
            }
            .listNamesBlock{
                font-size: 1.1rem;
                font-weight: 600;
                color: silver;
            }
            .listNamesBlock:hover{
                cursor: auto;
            }
            .listNamesSelected{
                color:var(--primary);
                font-size: 1.1rem;
                font-weight: 600;
            }
            .iconList {
                display: flex;
                justify-content:space-around;
                padding-top: 14px;
                font-size: 1rem;
                color: white;
            }
            .iconList i{
                display:flex;
                justify-content: space-around;
            }
            .iconList div:nth-child(1):hover{
                color: rgb(255, 0, 0);
            }
            .iconListBlock:hover{
                color: rgb(255, 208, 55);
            }
            .iconListUnblock:hover{
                color: rgb(0, 255, 72);
            }
        }   
    }
}
table{
    background-color: var(--secondary);
}
#deleteModal{
    h1{
        text-align: center;
    }
    .iconExclamation{
        font-size: 1.2rem;
        border-radius: 50%;
        width:32px;
        height: 32px;
        padding:5px 0px 5px 11px;
        border: 3px solid red;
        margin-left: 10px;
    }
}
