<div class="container list">
    <table class="table table-borderless">
      
      <tbody class="nameBody">
        <tr class="newMsg">
          <p routerLink="msg/write">Write new Message</p>
        </tr>
        <tr *ngFor="let data of dataUser index as i;" class="nameRow">
          <!-- <th scope="row">{{ i + 1 }}</th> -->
          
          <td routerLink="msg/read" (click)="msgFromUser(data.id)" class="listNames" 
              [ngClass]="{'listNamesBlock': hide[data.id], 'listNames': !hide[data.id]}"
              [ngClass]="{'listNamesSelected': userObj[data.id], 'listNames': !userObj[data.id]}">
              {{ data.name }}
          </td>
          <div class="iconList">
              <div>
                  <i class="fa-solid fa-trash" data-bs-toggle="tooltip" title="Delete User"
                      (click)="selectIdDeleteBlock(data.id)"  data-bs-toggle="modal" data-bs-target="#deleteModal"></i>
              </div>
              <div id="div-eye" [attr.aria-pressed]="hide[data.id]" (click)="blockUnblockUser(data.id)" 
                  data-bs-toggle="tooltip" 
                  [title]="hide[data.id] ? 'Unblock User' : 'Block User'" 
                  [ngClass]="{'iconListUnblock': hide[data.id], 'iconListBlock': !hide[data.id]}">  
                  <i class="{{hide[data.id] ? 'fa-solid fa-ban' : 'fa-solid fa-shield-halved'}}"></i>
              </div>
          </div>
        </tr>
      </tbody>
  </table>
</div>

<!-- Modal Delete User-->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Delete User</h1>
          <i class="fa-solid fa-exclamation iconExclamation"></i>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            You are about to delete {{ selectedUser?.name }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
</div>

<!-- Modal Block User-->
<div class="modal fade" id="blockModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Block User</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            You are about to block {{ selectedUser?.name }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
</div>