.write{
    position: absolute;
    top: 74px;
    left: 30%;
    width: 70%;
    #search{
        width:100%;
    }
    #userToMsg{
        margin-top: 0px;
        padding-bottom: 0px;
        .avatarBox{
            width: 58px;
            height: 58px;
            border: 1px solid grey;
            overflow: hidden;
            border-radius: 50%;
            margin-right:0px;
            float:left;
            #avatarImg{
                width: 100%;
                height: 100%;
            }
        }
        .nameMsg{  
            .name{
                font-size: 1.7rem;
                font-weight: 500;
                margin: 12px 0px 0px 75px;
                padding-top: 10px;
            }
        }
    }
    form{
        width: 100%;
        
        #subject{
            width:40%;
        }
        #text{
            height: 200px;
            width: 80%;
        }
        .sendMsg{
            background-color: var(--secondary);
            color: var(--primary);
        }
    }
}