<div class="container write">

  <div class="row">
    <form class="col searchForm" role="search">
      <div class="form-group">
        <label for="search">Search user:</label>
        <input type="text" class="form-control" id="search" placeholder="Search User" 
          [formControl]="myControl" list="dataList" (change)="nameValue($event)">
        <datalist id="dataList">
          <option *ngFor="let user of filteredOptions | async" [value]=" user">
        </datalist>
      </div><br>
    </form>
    <!-- <app-search class="col"></app-search> -->

    <div (click)="toRead()" class="col-7" id="userToMsg">
      <div *ngIf="userImage">
        <div class="col avatarBox">
            <img [src]="userImage" id="avatarImg">
        </div>
        <div class="col nameMsg">
            <h4 class="name">{{ (selectedUser$ | async)?.name }}</h4>
        </div>
      </div>
    </div>
  </div>
  
  <form [formGroup]="msgForm" (ngSubmit)="sendMsg(msgForm.value)">
    <input type="hidden" formControlName="id_receive">
    <input type="hidden" formControlName="readed">
    <div class="form-group">
      <label for="subject">Subject:</label>
      <input type="text" class="form-control" id="subject" placeholder="Subject" 
        formControlName="subject">
    </div><br>
    <div class="form-group">
      <label for="text">Text:</label>
      <textarea class="form-control" id="text" formControlName="text"></textarea>
    </div><br>
    <button type="submit" class="btn sendMsg">Send Message</button>
  </form>  
</div>