:root{
    --principal: #1E90FF;
    --second: #76a4a4;
    --secondark: #4d7777;
    --wine: #aa5997;
    --seconDDark: #623457;
    --third: #a5ff1f;
    --green: rgb(0, 255, 72);
    --warn: #f64263;
    --blue: rgb(43, 89, 175);
    --primary: #00ffff;
    --secondary: #324c6f;
    --green: #286c2a;
    --secondaryWhite: #ffffff;
    --primaryLima: #cbfca5;
    --blood: #532525;
    --maroon: #4f3939;
    --primaryLight: #dcf3ff;
}